/* Loaded in a font family from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

body {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('./image/8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  color: #171212;
  margin: -30px;
  margin-left: 70px;
}

/* Customized List Item */
.ListItem {
  font-weight: bold;
  color:#131313;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  margin-left: -30px;
  height: 93px;
  border-radius: 10px;
  padding: 0px;
  background-color: #fffefedd;
  box-shadow: -7px -7px 15px #ffffff, 
  -7px -7px 15px #403f3f;  
}

.title {
  margin-bottom: 5px;
  font-weight: bold;
  color:#131313;
  font-size: 21px;
  margin: 22px 0;
  border-radius: 10px;
  padding: 15px;
  height: 19px;
  background-color: #c1bfbfdd;
  box-shadow: -7px -8px 5px 0px #ffffff, -7px -7px 15px 2px #403f3f;
  min-width: 430px;
  margin-left: 20px;
  justify-content: start;
  letter-spacing: 0.3px;
  border: 1px solid #333333;
}

.notes {
  margin-bottom: 5px;
  font-weight: bold;
  color:#131313;
  font-size: 21px;
  margin: 22px 0;
  border-radius: 10px;
  padding: 15px;
  height: 19px;
  background-color: #c1bfbfdd;
  box-shadow: -7px -8px 5px 0px #ffffff, -7px -7px 15px 2px #403f3f;
  min-width: 390px;
  margin-left: 15px;
  justify-content: start;
  letter-spacing: 0.3px;
  border: 1px solid #333333;
  
}

/* Added effect on input field */
.input {
  font-family: 'Merriweather', serif;
  margin: 20px;
  font-size: medium;
  font-weight: bold;
  width: 355px;
  padding: 0.5rem;
  border-radius: 5px;
  /* border: 1px solid #333333;
  background-color: #F2F2F2; */
  box-shadow: -7px -7px 7px 3px #ffffff, -7px -7px 15px #403f3f;
  }
  
  /* Added effect on remove button */
.removeButton {
  font-family: 'Merriweather', serif;
  padding: 9.5px 23px;
  margin: 30px;
  margin-left: 23px;
  background: linear-gradient(to right, #595858, #030000);
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 0.85rem;
  cursor: pointer;
  box-shadow: -7px -8px 5px 0px #3c3737, -7px -7px 15px 2px #403f3f
  }
  
  /* Customized Add button */
.addButton {
  width: 80px; 
  font-family: 'Merriweather', serif;
  padding: 0.5rem 1rem;
  margin-left: 15px;
  /* Added gradient background */
  background: linear-gradient(to right, #2ac386, #0af412);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: inset -4px -4px 10px #ffffff, inset-4px -4px 10px #403f3f;
  box-shadow: -4px -4px 10px #ffffff, -4px -4px 10px #403f3f;
  }

/* Changed the font size, weight, and color of heading ToDo List */
h1{
  display:flex;
  padding: 10px;
  padding-left: 390px;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #0af412;
  border: 1px solid #333333;
  box-shadow: -4px -4px 12px #ffffff, 
  -4px -4px 10px #403f3f;
}

/* Customized label Title */
.label {
  color: #0af412;
  font-size: 25px;
  padding: 8px;
  font-family: 'Merriweather', serif;
  border: 1px solid #333333;
  box-shadow: -4px -4px 12px #ffffff, 
  -4px -4px 10px #403f3f;
}

/* Customized Header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  background-color: hsl(0, 0%, 82%);
  padding: 20px 50px;
  text-align: center;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.button {
  font-size: 24px;
  font-family: "Arial";
  background: transparent;
  box-shadow: 0px 0px 7px 17px #edebeb, -7px -7px 15px #403f3f;
  border: none;
  --border-right: 10px;
  --text-stroke-color: black;
  --fs-size: 2em;
  border-radius: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* Customized Footer */
.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  padding: 0px;
  width: 100%;
  background-color: black;
  color: #ffffff;
  }

p {
  margin: 1rem;
  font-size: 1.3rem;
  }
  
a {
  color: white;
  margin: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  }
  
a:hover {
  color: #0af412;
  }

.ControlPanel {
  background-color: hsl(0, 0%, 82%);
  color:#131313;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 160px;
  height: 59px;
  font-size: 25px;
  border-radius: 20px;
  box-shadow: -7px -7px 7px 3px #ffffff, -7px -7px 15px #403f3f;
  margin-left: 150px;
  border: 1px solid #333333;
}

.active {
  background-color: #0af412;
  color: white;
}

.Panel {
  /*background-color: #0af412;*/
  padding: 60px;
  margin: 14px;
  margin-left: -30px;
  padding-left: 3px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Media query */
@media only screen and (max-width: 766px) {

.ListItem {
  min-width: 250px;
  }

h1{
  padding-left: 130px;
  border: 70ch;
  }

.label {
  padding-left: 180px;
  padding-right: 180px;
  border: 70ch;
  }

.input {
  padding: 10px;
  }

.addButton {
  width: 64px;
  }
}
  